/*	lessish stylesheet for ikiwiki
	responsive styles based on the Less CSS Framework
	version 0.1 - 29 June 2012
	https://github.com/spiffin/ikiwiki_lessish */

/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/

/*	Typography presets
	------------------	*/

h1, h2, h3, h4 {
  margin-bottom: 1ex;
  margin-top: 1ex;
}

h1 {
  font-size:130%;
  color: darkslategray;
}
h2 {
  font-size:120%;
  color: darkgray;
}
h3 {
  font-size:110%;
  color: darkgray;
}

h4 {
  font-size:100%;
}

.createlink a {
  display: none;
}

body {
	font: Georgia, serif;
}

/* Selection colours (easy to forget) */

::selection 	 	{background: palegoldenrod;}
::-moz-selection 	{background: palegoldenrod;}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: palegoldenrod;}

body {
	max-width: 896px;
	padding: 1em;
	margin: 0 auto;
	color: darkslategray;
  background-color: ivory;
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}


.title {
  font-size: 130%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline;
  height: 1.3em;
  line-height: 1.3em;
}

/* Header */
.pageheader {
  border-bottom: 1px solid darkgray;
  background-color: ghostwhite;
  border-radius: 2em 2em 0 0;
}

.header .text {
  height: 2em;
  font-family: sans-serif;
}
.header {
  position: relative;
  margin-bottom: 1ex;
	font-weight: normal;
	font-size: 150%;
}

.header .text {
  display: inline-block;
  position: relative;
  margin: 0.5em 0.5em 0.5em 14ex;
}


p + p { margin-top: 8px; }

a:link { text-decoration: underline; color: limegreen; }
a:visited { text-decoration: underline; color: forestgreen; }
a:hover { text-decoration: none; color: darkslategray; }
a:active { background: whitesmoke; text-decoration: underline; color: lime; }

hr { border: 0; height: 1px; color: darkslategray; margin: 10px 0; background-color: dimgrey; }

.actions {
  display: none;
}

.actions ul {
	padding: 16px .8em 10px 0px;
	height: auto;
}
.actions li {
	padding: 0 .5em 0 0;
}

.pagedate,
.pagelicense,
.pagecopyright {
	font-size: small;
	color: darkgray;
}

.pagedate {
  padding-left: 1em;
}

blockquote {
	font-style: italic;
}

code {
	font: 14px Monaco, Courier, monospace;
	line-height: 24px;
}

textarea {
	font: 12.5px Monaco, monospace;
	background: black;
	color: lightgreen;
}

.pageheader #otherlanguages,
.pageheader .actions ul {
	border-bottom: none;
}

#pageinfo {
  border-top: none;
	margin: 0em;
  padding: 0em;
}

.notebox {
	color: darkslategray !important;
}

input#searchbox {
	background: none;
}

.inlinepage {
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
}

.parentlinks {
  display: block;
  font-size: 70%;
}

.page {
  border-radius: 2em;
  border: 1px solid darkgray;
  background-color: white;
}

#pagebody {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.actions {
  margin: 0em 0.5em 0em 0.5em;
}

.tags, #backlinks, .pagedate {
  margin: 0.5em 0.5em 0.5em 0.5em;
  font-size: 80%;
}

.pagefooter {
  border-top: 1px solid darkgray;
  background-color: ghostwhite;
  border-radius: 0 0 2em 2em;
  padding-bottom: .1em;
}

.pagecloud {
  float: none;
  margin-top: 20px;
  border-radius: 0.5em;
  padding: 0;
}

.calendar .samedi, .calendar .dimanche {
  color: lightgray;
}

.calendar .popup {
  color: limegreen;
  border-bottom: none;
}

.calendar .month-undefined {
  margin: auto;
}

blockquote {
  background-color: honeydew;
  border: 1px solid lavender;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em;
}


#content table
{
    border-top:1px solid darkgrey;
    border-bottom:1px solid darkgrey;
    border-collapse:collapse;
}


#content table th
{
    background:ghostwhite;
    padding:.1em .5em;
    border-bottom:1px solid darkgrey;
    color:dimgray;
}

#content table td
{
    padding:.1em .5em;
    border-top:1px solid lightgray;
}

#content .full-year-calendar {
  clear: both;
  margin: auto;
  border: 1px solid darkgrey;
  font-size: 80%;
}
#content table.full-year-calendar td {
  vertical-align: top;
  border-collapse:collapse;
  padding: 0;
  border-left: 1px solid darkgrey;
  border-right: 1px solid darkgrey;
  border-top-style: none;
  border-bottom-style: none;
}
#content table.full-year-calendar div.calendar {
  margin:0;
}
#content table.full-year-calendar table td {
    border-top:1px solid lightgray;
    border-left-style: none;
    border-right-style: none;
}

#content .full-year-calendar .calendar .month-calendar-arrow a {
  display: none;
}

#content .year-calendar {
  margin: auto;
}
#content .year-calendar-subhead {
      display: none;
  }
#content .full-year-calendar .popup {
  color: limegreen;
  font-size: 120%;
}

.calendar a:link {
  text-decoration: none;
}

img.teximg {
  vertical-align: middle;
}

.inlinefooter {
  text-align: right;
}

.popup .balloon {
  display: inline;
  background-color: snow;
  position: absolute;
  transition: all 0.3s ease;
  opacity: 0;
  border-radius: 0 1em 1em 1em;
  margin: 1em 0 0 -0.5em;
  z-index: -1;
}

.popup:hover .balloon {
  background-color: snow;
  opacity: 1;
  margin: 1em 0 0 -0.5em;
  z-index: 10;
}

.balloon ul {
  margin: 0;
  padding-left: 1em;
}

/* Table of contents */
div .toc {
  border: 1px solid lightgray;
  border-radius: 1em;
  display: inline-block;
  margin-left: 1em;
}

.toc ol {
  /* display: inline-block; */
  margin-right: 1em;
}

/* Float */
img.apropos {
  float: left;
  margin-top: 1ex;
  margin-right: 1ex;
}

/* Descriptions */

dt {
  font-style: italic;
}
dl {
  margin-left: 1em;
}

/* Searchform */
#searchbox {
  position: absolute;
  top: 1em;
  right: 2em;
}
input#searchbox {
  border:1px solid darkslategray;
  border-radius:0.25em;
  -moz-border-radius:0.25em;
  -webkit-border-radius:0.25em;
  background:url("images/search-bg.png") no-repeat 100% 50% rgba(255, 255, 255, 0.5);
  padding-left:0.4em;
}


/* Logo */
.logo {
  position: absolute;
  left: 2em;
  top: 0.5ex;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#pagebody {
  flex: 1;
}

pre {
  width: 80%;
  margin: auto;
  padding-left: 1em;
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
  border-radius: 4px;
  background: LightYellow;
}
