.sidebar {
  background-color: ghostwhite;
	border-left: 1px solid darkgray;
	border-bottom: 1px solid darkgray;
  border-right: none;
  border-top: 1px solid darkgray;
  border-radius: 0em 0em 0em 0.5em;
  margin-left: 0.5em;
  text-align: center;
}

.trails {
  margin-bottom: 0em;
  margin-top: 0em;
  font-size: small;
  background: whitesmoke;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
}

.trailprev, .trailup, .trailnext {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.seance_time, .seance_date {
  border-bottom: 1px solid darkgray;
  border-right: 1px solid darkgray;
  border-radius: 0 0 0.5em 0;
  padding: 0 0.3em;
  background-color: ghostwhite;
}
.seance_date {
  margin-top: -0.5em;
  margin-left: -0.5em;
  margin-right: 1em;
  float: left;
}
.seance_time {
  margin-top: -0.5em;
  margin-left: -0.5em;
  text-align: center;
}
.seance_date > time {
  margin: 0.1em;
  display: block;
}

